.board__content__left__container{
    border: 1px solid rgba(47, 50, 64, 255);
    width: 15%; 
    padding-left: 20px;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.board__content__left{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
    /* border: 1px solid green; */
}

.board__content__left:hover{
    /* background-color: white; */
    background-color: rgba(250, 250, 250 , 255);
    color: black;
    cursor: pointer;
}

.board__content__left__icon{
    margin-right: 10px;
}

.board__ahref{
    text-decoration: none;
    color: rgba(212,212,216,255);
}

.board__content__left__title__container{
    /* border: 5px solid green; */
    width: 100%;
    padding-right: 25px;
    margin-bottom: 30px;
}

.board__content__left__title{
    /* border: 5px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 24px;
    border-bottom: 2px solid rgb(218, 130, 64);
}