
.homepage__content__container{
    display: flex;
    /* justify-content: space-between; */
    /* border: 5px solid green; */
    width: 100%;
    font-family: Roboto;
    background-color: rgba(23,24,43,255);
    color: rgba(212,212,216,255);
    height: 1000px;
    /* position: fixed; */
}

/* === HOMEPAEG CONTENT MID === */

.homePage__content__mid__container{
    /* border: 5px solid brown; */
    width: 70%;
    border-top: 1px solid rgba(47, 50, 64, 255);
    /* padding-bottom: 30px; */
}

.homePage__content__mid{
    /* border: 5px solid green; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.homePage__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 5px solid green; */
    font-size: 16px;
    gap: 30px;
    margin-bottom: 40px;
}

.homePage__workspaceCard{
    border: 3px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.homePage__title{
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.homePage__workspaceCard:hover{
    transform: scale(1.05);
}

.homePage__workspaceCard__title{
    font-size: 18px;
    background-color: rgb(97, 203, 97);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

.homePage__workspaceCard__content{
    /* border: 5px solid red; */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.homePage__boardCard{
    border: 3px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.homePage__boardCard:hover{
    transform: scale(1.05);
}

.homePage__boardCard__title{
    font-size: 18px;
    background-color: rgb(210, 130, 44);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

.homePage__boardCard__content{
    /* border: 5px solid red; */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.link__homePage{
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
    width: 25%;
    text-decoration: none;
}

/* === END OF HOMEPAGE CONTENT MID === */

.homePage__ahref{
    text-decoration: none;
    color: rgba(212,212,216,255);
}

.button__icon{
    border: none;
    cursor: pointer;
    background-color: rgba(23,24,43,255);
    font-size: 18px;
    color: rgba(212,212,216,255);
}

.link__workspace{
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
    width: 25%;
    text-decoration: none;
}

.chello_ahref{
    text-decoration: none;
    color: rgba(212,212,216,255);
    /* border: 5px solid red; */
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.chello_ahref:hover{
    color: black;
    background-color: white;
}